<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="~{layout}">

<head>
    <title>Remove Data | Spring Boot Backend</title>
</head>

<body>
    <div layout:fragment="content">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Are you sure you want to delete?</h1>
        </div>
        <table class="table table-sm w-50">
            <tr>
                <th style="width: 20%">Id</th>
                <td th:text="${data.id}"></td>
            </tr>
            <tr>
                <th style="width: 20%">Data Id</th>
                <td th:text="${data.dataId}"></td>
            </tr>
            <tr>
                <th style="width: 20%">Title</th>
                <td th:text="${data.title}"></td>
            </tr>
            <tr>
                <th style="width: 20%">Description</th>
                <td th:text="${data.description}"></td>
            </tr>
            <tr>
                <th style="width: 20%">Created At</th>
                <td th:text="${#dates.format(data.createdAt, 'yyyy MMM dd, hh:mm a')}"></td>
            </tr>
            <tr>
                <th style="width: 20%">Updated At</th>
                <td th:text="${#dates.format(data.updatedAt, 'yyyy MMM dd, hh:mm a')}"></td>
            </tr>
        </table>
        <div class="w-100 mt-5">
            <form th:action="@{'~/data/remove/' + ${data.id}}" method="post" class="w-50 mt-5">
                <button class="btn btn-danger float-right" type="submit"><span data-feather="trash-2"></span>Yes, I am
                    sure.</button>
            </form>
            <a href="javascript:history.back()" class="btn btn-secondary"><span data-feather="arrow-left"></span>Back</a>
        </div>

    </div>
</body>

</html>